# IDE related
.idea/

# Virtual Environment
.venv/

# Python files
__pycache__
*.sqlite*

# CSS
noxcrux_server/static/css
!noxcrux_server/static/css/bootstrap

# Git stuff
.git/
.gitignore

# Secrets
docker/secrets/
docker/ssl/
