@import "basics";

.btn-main {
  color: white;
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-main:hover {
  color: white;
  background-color: $primary-light;
  border-color: $primary-light;
}

.btn-main:focus, .btn-main.focus {
  color: white;
  background-color: $primary-color;
  border-color: $primary-color;
  box-shadow: 0 0 0 0.2rem $primary-light;
}

.btn-warm {
  color: white;
  background-color: $secondary-color;
  border-color: $secondary-color;
  border-radius: 1em;
}

.btn-warm:hover {
  color: white;
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.btn-warm:focus, .btn-warm.focus {
  color: white;
  background-color: $secondary-color;
  border-color: $secondary-color;
  box-shadow: 0 0 0 0.2rem $secondary-color;
}
