* {
    z-index: inherit;
}

html {
    z-index: 0;
    height: 100%;
}

body {
    height: inherit;
    text-align: center;
    overflow: hidden;
    background-color: rgb(0, 100, 140);
}

a, a:hover, a:focus {
    outline: 0;
    color: inherit;
    text-decoration: none;
}

.container-fluid {

    display: flex;
    flex-direction: column;
    height: inherit;
    padding: 0;
}

#header {
    z-index: 10;
    background-color: rgb(0, 50, 70);
    color: white;
}

#content {
    flex: 1;
    height: inherit;
    overflow: auto;
}

#horcruxes {
    height: inherit;
}

.horcrux-copy {
    cursor: pointer;
}

.horcrux-copy > .card-text {
    background-color: rgb(200, 200, 200);
    color: rgb(200, 200, 200);
    border-radius: 0.5rem;
    transition: all 0.3s ease-in;
}

.horcrux-copy > .card-text:hover {
    background-color: rgb(230, 230, 230);
    color: rgb(50, 50, 50);
}

#footer {
    z-index: 10;
    background-color: rgb(0, 50, 70);
    color: white;
}

#messages {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
}

#logout {
    color: #fff;
}

.color-main {
    color: rgb(0, 120, 150);
}

.bg-main {
    background-color: rgb(0, 120, 150);
    border-color: rgb(0, 120, 150);
}

#trash {
    font-size: 0.8em;
    color: rgb(230, 50, 50);
}

#edit {
    font-size: 0.8em;
}

.popover-header {
    font-weight: bold;
}

.popover {
    box-shadow: 0 0 25px 3px black;
}
