{% extends 'authenticated.html' %}

{% load qr_code %}

{% block title %}
    noxcrux - 2FA Secret
{% endblock title %}

{% block content %}

    <div class="d-flex flex-wrap justify-content-center align-items-center px-3 h-i">

        <div class="card text-center">
            <div class="card-header">2FA</div>
            <div class="card-body d-flex flex-column">
                {% if device and not device.confirmed %}
                    <h5 class="card-title">Scan this QR code with your application</h5>
                {% else %}
                    <h5 class="card-title">Here is your QR code</h5>
                {% endif %}
                <div>
                    {% qr_from_text url size="S" %}
                </div>
                {% if device and not device.confirmed %}
                    Then
                    <a class="btn btn-main m-1" href="{% url '2FA_confirm' %}">
                        Confirm your device&nbsp;<i class="fas fa-user-lock"></i>
                    </a>
                {% endif %}
            </div>
            <div class="card-footer">
                <a href="{% url '2FA' %}" class="color-warm"><i class="fas fa-arrow-left"></i>&nbsp;Back</a>
            </div>
        </div>
    </div>

{% endblock content %}
