{% extends 'base.html' %}

{% load RequestTags %}

{% load static %}

{% block title %}noxcrux{% endblock title %}

{% block header %}

    <div class="row align-items-center p-1">

        <div class="col-6 d-flex justify-content-start">
            <a href="{% url 'home' %}"><img alt="logo" id="logo-md" src="{% static 'images/logo_white.svg' %}"></a>
        </div>

        <div class="col-6 d-flex justify-content-end">

            <div>
                <a class="btn btn-warm m-1" href="{% url 'generator' %}">
                    <i class="fas fa-dice"></i>&nbsp;Generator
                </a>
            </div>

            <div>
                <a class="btn btn-warm m-1 position-relative" href="{% url 'friend_list' %}">
                    <i class="fas fa-users"></i>&nbsp;Friends
                    {% if request.user.reverse_friends|get_friend_requests %}
                        <div id="friend-count">{{ request.user.reverse_friends|get_friend_requests }}</div>
                    {% endif %}
                </a>
            </div>

            <div>
                <a class="btn btn-warm m-1" href="{% url 'profile' %}">
                    <i class="fas fa-user"></i>&nbsp;{{ user.get_username }}
                </a>
            </div>

            <div>
                <a class="btn btn-warm m-1" href="{% url 'logout' %}">
                    Logout&nbsp;<i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
        </div>
    </div>

{% endblock header %}

{% block content %}{% endblock content %}

{% block footer %}

    <div class="d-flex justify-content-around align-items-center">

        <a href="https://github.com/noxPHX/noxcrux" target="_blank">
            <i class="fab fa-github"></i>&nbsp;Source
        </a>

        <div>
            <img alt="logo" id="logo-sm" src="{% static 'images/logo_white.svg' %}">
            <small>web access</small>
        </div>

        <a href="{% url 'swagger-ui' %}" target="_blank">
            <i class="fas fa-plug"></i>&nbsp;API
        </a>

    </div>

{% endblock footer %}
