{% extends 'base.html' %}

{% block title %}noxcrux{% endblock title %}

{% block header %}

    <div class="d-flex justify-content-between align-items-center">

        <div>
            <a href="{% url 'home' %}"><h1>noxcrux</h1></a>
        </div>
        <div>
            <a class="btn btn-primary bg-main" href="{% url 'logout' %}">Logout&nbsp;<i
                    class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>

{% endblock header %}

{% block content %}{% endblock content %}

{% block footer %}

    <div class="d-flex justify-content-center align-items-center">

        <div>
            <small>noxcrux web access</small>
        </div>
    </div>

{% endblock footer %}
