{% extends 'authenticated.html' %}

{% block title %}
    noxcrux - Delete my account
{% endblock title %}

{% block content %}

    <div class="d-flex flex-wrap justify-content-center align-items-center px-3 h-i">

        <div class="card text-center">
            <div class="card-header">{{ user.get_username }}</div>
            <div class="card-body">
                <h5 class="card-title">Delete your account</h5>
                <p class="card-text">
                    To confirm your account deletion, please confirm your credentials
                </p>
                <p class="card-text">
                    Please note that it will delete all your horcruxes and you won't be able to recover them
                </p>
                <form method="POST" role="form" action="{% url 'delete_account' %}">
                    {% include 'form.html' %}
                    <input class="btn btn-danger" type="submit" value="Delete my account"/>
                </form>
            </div>
            <div class="card-footer">
                <a href="{% url 'profile' %}" class="color-warm"><i class="fas fa-arrow-left"></i>&nbsp;Back</a>
            </div>
        </div>
    </div>

{% endblock content %}
