{% extends 'authenticated.html' %}

{% block title %}
    noxcrux - Edit my password
{% endblock title %}

{% block content %}

    <div class="d-flex flex-wrap justify-content-center align-items-center px-3 h-i">

        <div class="card text-center">
            <div class="card-header">{{ user.get_username }}</div>
            <div class="card-body">
                <p class="card-text">
                    Change your password
                </p>
                <form method="POST" role="form" action="{% url 'edit_password' %}">
                    {% include 'form.html' %}
                    <input class="btn btn-main" type="submit" value="Update"/>
                </form>
            </div>
            <div class="card-footer">
                <a href="{% url 'profile' %}" class="color-warm"><i class="fas fa-arrow-left"></i>&nbsp;Back</a>
            </div>
        </div>
    </div>

{% endblock content %}
