{% csrf_token %}
{% for field in form %}

    <input class="form-control my-1"
           type="{{ field.field.widget.input_type }}"
           name="{{ field.html_name }}"
           placeholder="{{ field.label }}"
           maxlength="{{ field.field.max_length }}"
            {% if field.value %} value="{{ field.value }}" {% endif %}
            {% if field.field.required %} required {% endif %}
           data-toggle="popover"
           data-trigger="hover"
           data-html="true"
           data-placement="right"
           title="{{ field.label }}"
            {% if field.help_text %} data-content="{{ field.help_text }}" {% else %}
           data-content="Please fill out this field." {% endif %}>
    {{ field.errors }}

{% endfor %}
{{ form.non_field_errors }}
