{% extends 'authenticated.html' %}

{% block title %}
    noxcrux - My Friends
{% endblock title %}

{% block content %}

    <div class="d-flex flex-wrap justify-content-center align-items-center px-3 h-i">

        <div class="card text-center col-4 p-0">
            <div class="card-header">Friends</div>
            <div class="card-body row align-items-center">

                {% if friends %}

                    <ul class="list-group list-group-flush col-8 friend-scroll">

                        {% for object in friends %}
                            <li class="list-group-item d-flex justify-content-between">
                                {{ object.friend }}
                                <a href="{% url 'friend_delete' object.friend %}">
                                    <i class="fas fa-users-slash delete-item"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="col-8">
                        No friends to show.
                    </div>
                {% endif %}
                <div class="col-4">
                    <a class="btn btn-main" href="">
                        <i class="fas fa-user-plus"></i>
                    </a>
                </div>
            </div>
            <div class="card-footer">
                <a href="{% url 'home' %}" class="color-warm"><i class="fas fa-arrow-left"></i>&nbsp;Back</a>
            </div>
        </div>
    </div>

{% endblock content %}
