{% extends 'authenticated.html' %}

{% block title %}
    noxcrux - Generator
{% endblock title %}

{% block content %}

    <div class="d-flex justify-content-center align-items-center h-i">

        <div class="card text-center">
            <div class="card-header">Generator</div>
            <div class="card-body">
                <form method="POST" role="form" action="{% url 'generator' %}">
                    {% include 'form.html' %}
                    <button class="btn btn-primary bg-main" type="submit">
                        <i class="fas fa-dice"></i>
                    </button>
                </form>
            </div>
            <div class="card-footer text-muted">
                <a href="{% url 'home' %}" class="color-main"><i class="fas fa-arrow-left"></i>&nbsp;Back</a>
            </div>
        </div>
    </div>

{% endblock content %}
