{% extends 'authenticated.html' %}

{% block title %}
    noxcrux - Generator
{% endblock title %}

{% block content %}

    <div class="d-flex justify-content-center align-items-center h-i">

        <div class="card text-center">
            <div class="card-header">Generator</div>
            <div class="card-body">
                <form method="POST" role="form" action="{% url 'generator' %}">
                    {% include 'form.html' %}
                    <button id="copy-generated" class="btn btn-main" type="button">
                        Copy&nbsp;<i class="far fa-copy"></i>
                    </button>
                    <button class="btn btn-main" type="submit">
                        Save&nbsp;<i class="fas fa-dice"></i>
                    </button>
                </form>
            </div>
            <div class="card-footer">
                <a href="{% url 'home' %}" class="color-warm"><i class="fas fa-arrow-left"></i>&nbsp;Back</a>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}

    {% load static %}
    <script src="{% static 'js/generator.js' %}"></script>

{% endblock js %}
