{% extends 'authenticated.html' %}

{% block title %}
    noxcrux - My Horcruxes
{% endblock title %}

{% block content %}

    <div class="d-flex flex-column justify-content-center align-items-center h-i">

        <form method="GET" role="form" action="{% url 'home' %}">
            <div class='input-group'>
                <input type='text' name="search" class='form-control' placeholder='Search...'/>
                <div class="input-group-append">
                    <button type="submit" class="btn input-group-text color-warm"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>

        <div class="d-flex flex-wrap justify-content-center align-items-center px-3 h-i">

            {% if horcruxes %}

                {% for horcrux in horcruxes.mines %}
                    {% include 'horcrux.html' with horcrux=horcrux shared=False %}
                {% endfor %}

                {% for horcrux in horcruxes.granted %}
                    {% include 'horcrux.html' with horcrux=horcrux shared=True %}
                {% endfor %}
            {% endif %}

            <div class="card text-center m-1">
                <div class="card-header">New horcrux</div>
                <div class="card-body">
                    <p class="card-text">
                        <a class="btn btn-main" href="{% url 'horcrux_add' %}">
                            <i class="fas fa-plus"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}

    {% load static %}
    <script src="{% static 'js/clipboard.js' %}"></script>

{% endblock js %}
