{% extends 'authenticated.html' %}

{% block title %}
    noxcrux - Delete {{ horcrux.name }}
{% endblock title %}

{% block content %}

    <div class="d-flex flex-column h-i">

        <div class="d-flex flex-wrap justify-content-center align-items-center px-3 h-i">

            <div class="card text-center col-sm-4 col-12 p-0 m-2">
                <div class="card-header">Delete {{ horcrux.name }}</div>
                <div class="card-body">
                    <form method="POST" role="form" action="{% url 'horcrux_delete' horcrux.name %}">
                        {% csrf_token %}
                        <input class="form-control my-1" value="{{ horcrux.name }}" disabled>
                        <input class="form-control my-1" value="{{ horcrux.horcrux }}" disabled>
                        <input class="form-control my-1" value="{{ horcrux.site }}" disabled>
                        <input class="btn btn-danger" type="submit" value="Delete"/>
                    </form>
                </div>
            </div>

            <div class="card text-center col-sm-4 col-12 p-0 m-2">
                <div class="card-header">{{ horcrux.name }} grantees</div>
                <div class="card-body row justify-content-center align-items-center">

                    <ul class="list-group list-group-flush col-12 friend-scroll p-0">

                        {% for username in grantees %}
                            <li class="list-group-item d-flex justify-content-center">
                                {{ username }}
                            </li>
                        {% empty %}
                            <li class="list-group-item">
                                No friend grantees to show for {{ horcrux }}.
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <a class="btn btn-warm m-1" href="{% url 'home' %}">
                <i class="fas fa-arrow-left"></i>&nbsp;Back
            </a>
        </div>
    </div>

{% endblock content %}
