{% extends 'base.html' %}

{% load ShowVersion %}

{% load static %}

{% block title %}
    noxcrux - Login
{% endblock title %}

{% block content %}

    <div class="d-flex justify-content-center align-items-center h-i">

        <div class="card text-center">
            <div class="card-header"><img alt="logo" id="logo-md" src="{%  static 'images/logo_black.svg' %}"></div>
            <div class="card-body">
                <h5 class="card-title">Log in</h5>
                <p class="card-text">
                    Login to this noxcrux server
                </p>
                <form method="POST" role="form" action="{% url 'login' %}">
                    {% include 'form.html' %}
                    <input class="btn btn-main mt-2" type="submit" value="Login"/>
                </form>
                {% if registration_open %}
                    <a href="{% url 'register' %}" class="color-warm"><small>Register</small></a>
                {% else %}
                    <small class="text-muted">Registration closed.</small>
                {% endif %}
            </div>
            <div class="card-footer"><img alt="logo" id="logo-sm" src="{%  static 'images/logo_black.svg' %}"><small class="font-italic"> {% show_version %}</small></div>
        </div>
    </div>

{% endblock content %}

{% block js %}
    <script src="{% static 'js/crypto/login.js' %}"></script>
{% endblock js %}
