{% extends 'base.html' %}

{% block title %}
    noxcrux - Login
{% endblock title %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center h-100">

        <div class="card text-center">
            <div class="card-header">noxcrux</div>
            <div class="card-body">
                <h5 class="card-title">Log in</h5>
                <p class="card-text">
                    Login to this noxcrux server
                </p>
                <form method="POST" role="form" action="{% url 'login' %}">
                    {% include 'form.html' %}
                    <input class="btn btn-primary bg-main" type="submit" value="Login"/>
                </form>
                <a href="{% url 'register' %}" class="color-main"><small>First time?</small></a>
            </div>
            <div class="card-footer text-muted">noxcrux web access</div>
        </div>
    </div>

{% endblock content %}
