{% extends 'authenticated.html' %}

{% block title %}
    noxcrux - My profile
{% endblock title %}

{% block content %}

    <div class="d-flex flex-wrap justify-content-center align-items-center px-3 h-i">

        <div class="card text-center">
            <div class="card-header">My profile</div>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ user.get_username }}</h5>
                <a class="btn btn-primary bg-main m-1" href="{% url 'edit_username' %}">
                    Edit my username&nbsp;<i class="fas fa-user"></i>
                </a>
                <a class="btn btn-primary bg-main m-1" href="{% url 'edit_password' %}">
                    Edit my password&nbsp;<i class="fas fa-key"></i>
                </a>
                <a class="btn btn-danger m-1" href="{% url 'delete_account' %}">
                    Delete my account&nbsp;<i class="fas fa-times-circle"></i>
                </a>
            </div>
            <div class="card-footer text-muted">
                <a href="{% url 'home' %}" class="color-main"><i class="fas fa-arrow-left"></i>&nbsp;Back</a>
            </div>
        </div>
    </div>

{% endblock content %}
