{% extends 'base.html' %}

{% load static %}

{% block title %}
    noxcrux - Register
{% endblock title %}

{% block content %}

    <div class="d-flex justify-content-center align-items-center h-i">

        <div class="card text-center">
            <div class="card-header"><img alt="logo" id="logo-md" src="{%  static 'images/logo_black.svg' %}"></div>
            <div class="card-body">
                <h5 class="card-title">Register</h5>
                <p class="card-text">
                    Create an account on this noxcrux server
                </p>
                <form method="POST" role="form" action="{% url 'register' %}">
                    {% include 'form.html' %}
                    <input class="btn btn-main" type="submit" value="Submit"/>
                </form>
                <a href="{% url 'login' %}" class="color-warm"><small>Login</small></a>
            </div>
            <div class="card-footer"><img alt="logo" id="logo-sm" src="{%  static 'images/logo_black.svg' %}"> web access</div>
        </div>
    </div>

{% endblock content %}
