{% extends 'authenticated.html' %}

{% load UserAgent %}

{% block title %}
    noxcrux - My sessions
{% endblock title %}

{% block content %}

    <div class="d-flex flex-wrap justify-content-center align-items-center px-3 h-i">

        <div class="card text-center col-sm-4 col-12 p-0 m-2">
            <div class="card-header">My sessions</div>
            <div class="card-body row justify-content-center align-items-center">

                <table class="table table-hover mb-0">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">User</th>
                        <th scope="col">IP</th>
                        <th scope="col">Device</th>
                        <th scope="col">Revoke</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for session in sessions %}
                        <tr>
                            <th scope="row">
                                {% if request.session.session_key == session.session %}
                                    <i class="fas fa-map-marker-alt color-main p-1"></i>&nbsp;
                                {% endif %}
                                {{ forloop.counter }}
                            </th>
                            <td>{{ session.user }}</td>
                            <td>{{ session.ip }}</td>
                            <td>
                                {{ session.user_agent|get_device|default_if_none:"Unknown" }}
                                <i data-toggle="popover"
                                   data-trigger="hover"
                                   data-placement="right"
                                   title="User Agent"
                                   data-content="{{ session.user_agent|default_if_none:"Unknown" }}"
                                   class="fas fa-info-circle color-warm p-1">
                                </i>
                            </td>
                            <td>
                                <a href="{% url 'sessions_delete' session.session %}" class="m-2">
                                    <i class="fas fa-times color-red"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a href="{% url 'profile' %}" class="color-warm"><i class="fas fa-arrow-left"></i>&nbsp;Back</a>
            </div>
        </div>
    </div>

{% endblock content %}
