{% extends 'authenticated.html' %}

{% block title %}
    noxcrux - Add a friend
{% endblock title %}

{% block content %}

    <div class="d-flex flex-wrap justify-content-center align-items-center px-3 h-i">

        <div class="card text-center">
            <div class="card-header">Share {{ horcrux }}</div>
            <div class="card-body">
                <p class="card-text">
                    Enter the username of your friend
                </p>
                <form method="POST" role="form" action="{% url 'horcrux_share' horcrux %}">
                    {% include 'form.html' %}
                    <input class="btn btn-main" type="submit" value="Share {{ horcrux }}"/>
                </form>
            </div>
            <div class="card-footer">
                <a href="{% url 'home' %}" class="color-warm"><i class="fas fa-arrow-left"></i>&nbsp;Back</a>
            </div>
        </div>
    </div>

{% endblock content %}
