{% extends 'base.html' %}

{% block title %}
    noxcrux API reference
{% endblock title %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ dist }}/swagger-ui.css"/>
    <link rel="stylesheet" href="{% static 'css/swagger.css' %}">
{% endblock css %}

{% block content %}

    <div id="swagger-ui"></div>
    <script src="{{ dist }}/swagger-ui-bundle.js"></script>
    {% if script_url %}
        <script src="{{ script_url|safe }}"></script>
    {% else %}
        <script>
            {% include template_name_js %}
        </script>
    {% endif %}

{% endblock content %}
